@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

#product-overview {
  background: #ff1b68;
  padding: 20px;
  border: 5px solid black;
  margin: 20px;
}

.section-title {
  color: #2ddf5c;
}

h1 {
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 48px;
}

/* h1 {
  font-family: sans-serif;
} */
